@model SolucionCacao.Models.ZonaEstudio

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar Zona de estudio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdPropietario" class="control-label">Propietario</label>
                  <select asp-for= "IdPropietario" asp-items="@Model._propietarios" class="form-select">
                  </select>
                <span asp-validation-for="IdPropietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lugar" class="control-label"></label>
                <input asp-for="Lugar" class="form-control" />
                <span asp-validation-for="Lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coordenadas" class="control-label"></label>
                <input asp-for="Coordenadas" class="form-control" />
                <span asp-validation-for="Coordenadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cultivo" class="control-label"></label>
                <input asp-for="Cultivo" class="form-control" />
                <span asp-validation-for="Cultivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Densidad" class="control-label"></label>
                <input asp-for="Densidad" class="form-control" />
                <span asp-validation-for="Densidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
