@model SolucionCacao.ViewModels.RegistrarViewModel

@{
    ViewData["Title"] = "Buscar usuario";
}

<h1>Buscar Usuario</h1>

<hr />
@if(TempData["mensaje"] != null)
{
   @Html.Raw(TempData["mensaje"].ToString())
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="BuscarUsuario" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label">Ingrese el usuario a buscar</label>
                <input asp-for="Usuario" class="form-control"/>
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary"/>
                <a asp-action="dashboard" class="btn btn-outline-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}