@model SolucionCacao.ViewModels.RolViewModel

@{
    ViewData["Title"] = "Agregar rol";
}

<h1>Crear ROL</h1>

<hr />
@if(TempData["mensaje"] != null)
{
   @Html.Raw(TempData["mensaje"].ToString())
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearRoles" asp-controller="Login" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label">Rol</label>
                <input asp-for="Rol" class="form-control"/>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear rol" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}