@{

    ViewData["Title"] = "Inició de Sesión";

    Layout = "_LoginLayout";

}



<link rel="stylesheet" href="~/css/styleLogin.css">



<div class="login">

    <div class="login__datos row">

        <label for="username" class="col-sm-2 col-form-label">Usuario</label>

        <br>

        <div class="col-sm-3">

            <input type="text" class="form-control" id="username">

        </div>

    </div>

    <br>

    <div class="login__datos row">

        <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label><br>

        <br>

        <div class="col-sm-3">

            <input type="password" class="form-control" id="inputPassword">

        </div>

    </div>

    <div />
