.login__datos {
    width: 1000px;
}



body {
    display: flex;
    justify-content: center;
}



.login {
    background-color: bisque;
    width: 500px;
    height: 250px;
    border-radius: 7px;
    border-style: solid;    
    border-width: 2px;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

}
.button-group{
    display: flex;
    justify-content: center;
}

.button-group__btn{
    width: 8rem;
    height: 2.5rem;
}